<signed-hash-token>	<signature-field-name>${approvalId}</signature-field-name>	<signature-type>Adobe</signature-type>	<payload>		<response>			<signed-hash>${signedHash}</signed-hash>			<hash-algorithm>${algorithm}</hash-algorithm>		</response>	</payload>	<protocol>       		<version>4.0</version>       		<max-supported-version>4.0</max-supported-version>       		<min-required-version>3.0</min-required-version>       		<signing-service>RemotePkiCms</signing-service>       		<data>${nonce}</data>    </protocol>    <extensions>            <item>                <id>1.3.1</id>                <critical>false</critical>                <data>0</data>            </item>    </extensions></signed-hash-token>